@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  background: transparent;
}

body {
  background-image: url('/yumekawa_bg.jpeg');
  background-size: cover;
  background-position: center center; /* スマホ・タブレットでも中心を表示 */
  background-attachment: fixed;       /* スクロールしても背景固定 */
  background-repeat: no-repeat;

  font-family: Arial, Helvetica, sans-serif;
}
